{% extends 'base.html' %}
{% load static %}
{% block title %}
Arijit's Blog
{% endblock title %}
{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock css_files %} 

{% block content %}
<section id="welcome">
    <header>
        <img src="" alt="Arijit - Author" />
        <h2>Arijit's Blog</h2>
    </header>
    <p>My bio</p>
</section>

<!-- <div class="bg-light p-5 rounded-lg m-3" id="welcome">
    <img src="" alt="Arijit - Author" />
    <h1 class="display-4">Arijit's Blog</h1>
    <p class="lead"> My bio. This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div> -->

<section id="latest-posts">
    <h2> My latests</h2>
    <ul>
        <li>
            <!-- <article class="post">
                <a href="">
                    <img src="" alt="Moutain Hiking"/>
                    <div class="post__content">
                        <h3>Mountain Hiking</h3>
                        <p>
                            Ullamco sit et commodo est veniam culpa ipsum excepteur qui. Sint commodo labore do eu eu
                            esse excepteur irure. Ea nisi Lorem aute exercitation magna nisi magna ullamco exercitation
                            culpa voluptate. In Lorem eu ullamco eiusmod ea ipsum deserunt commodo veniam eu eiusmod
                            ullamco. Ea incididunt sint irure dolore do voluptate excepteur. Culpa laborum nulla nostrud
                            commodo laborum pariatur dolor incididunt sint eu. Exercitation reprehenderit nisi sit qui
                            sit cupidatat enim.
                        </p>
                    </div>
                </a>
            </article> -->
            <article class="media content-section post">
                <img src="#" alt="Hiking"/>
                <div class="media-body">
                    <div class="article-metadata" >
                        <small class="text-muted justify-content-end">12th June, 2021</small>
                    </div>
                    <h3><a class="article-title" href="#">Mountain Hiking</a></h3>
                    <p class="article-content"> Tempor commodo esse consectetur voluptate in.</p>
                </div>
            </article>
        </li>
        <li>
            <div class="card" style="width: 18rem;">
                <img src="#" class="card-img-top" alt="Hiking">
                <div class="card-body">
                    <h3 class="card-title">Mountain Hiking</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </li>
    </ul>
</section>
<section id="about">
    <h2>About Me</h2>
    <p>Non commodo esse qui laboris nisi eu sint nisi commodo est occaecat reprehenderit.</p>
    <p>Reprehenderit do quis consequat aute consequat Lorem pariatur nisi irure ullamco. Consectetur eiusmod adipisicing
        magna commodo in cillum cupidatat laboris ullamco pariatur culpa id laborum. Magna eiusmod ipsum nulla occaecat
        culpa ea excepteur pariatur. Elit dolore occaecat quis enim non esse Lorem. Nostrud adipisicing duis magna do ut
        labore incididunt proident incididunt. Deserunt non elit enim nulla aute ut non do anim aliqua consectetur nisi
        adipisicing nulla. Quis ex magna dolor exercitation.</p>
</section>
{% endblock content %}